body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.table{
  width: 100%;
  margin:10px;
  border-collapse: collapse;

}

.table th, td{
  padding: 10px 15px;
  border: 1px solid blue;
  text-align: center;
}

.table th{
  background-color: darkblue;
  color: white;
}

.small-sorting{
  display: none;
}

@media (max-width: 600px) {
  .table thead{
    display: none;
  }
  .table tbody, .table tr, .table td{
    display: block;
    width: 97%;
  }
  .table tr{
    margin-bottom: 20px;
    padding-right: 15px;
  }
  .table td{
    text-align: right;
    position: relative;
    padding-right: 10px;
    margin-right: 0%;
  }
  .table td::before{
    content: attr(data-aria-label);
    position: absolute;
    left: 0;
    text-align: left;
    padding-left: 10px;
  }

  .small-sorting {
    display: block;
    margin: 10px 0px;
    text-align: center;
  }
}
